* {
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
}

.header a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: black;
  transition: color 0.25s ease;
}

.header a:hover {
  color: #FF2255;
}

input {
  width: 40px;
}

#game {
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

#howto {
  margin: auto;
  width: 25%;
}
